In [1]:
import pandas as pd
import openpyxl

# Create a dictionary with the data
income_statement = {
    '': ['Subscription Revenue', 'Other Revenue', 'Total Revenue', '', 'Cost of Goods Sold (COGS)', '', 'Gross Profit', '', 'Sales and Marketing', 'R&D', 'General & Admin', 'Total Operating Expenses', '', 'Operating Income', '', 'Interest Expense', '', 'Pre-tax Income', 'Income Tax Expense', '', 'Net Income'],
    'Year 1': [200000, 10000, 210000, '', 30000, '', 180000, '', 50000, 40000, 20000, 110000, '', 70000, '', 10000, '', 60000, 15000, '', 45000],
    'Year 2': [450000, 20000, 470000, '', 50000, '', 420000, '', 70000, 60000, 30000, 160000, '', 260000, '', 10000, '', 250000, 62500, '', 187500],
    'Year 3': [800000, 30000, 830000, '', 70000, '', 760000, '', 90000, 80000, 40000, 210000, '', 550000, '', 10000, '', 540000, 135000, '', 405000]
}

# Convert the dictionary to a DataFrame
income_statement = pd.DataFrame(income_statement)

# Print the DataFrame
income_statement

                               Year 1  Year 2  Year 3
0        Subscription Revenue  200000  450000  800000
1               Other Revenue   10000   20000   30000
2               Total Revenue  210000  470000  830000
3
4   Cost of Goods Sold (COGS)   30000   50000   70000
5
6                Gross Profit  180000  420000  760000
7
8         Sales and Marketing   50000   70000   90000
9                         R&D   40000   60000   80000
10            General & Admin   20000   30000   40000
11   Total Operating Expenses  110000  160000  210000
12
13           Operating Income   70000  260000  550000
14
15           Interest Expense   10000   10000   10000
16
17             Pre-tax Income   60000  250000  540000
18         Income Tax Expense   15000   62500  135000
19
20                 Net Income   45000  187500  405000

In [2]:
income_statement.to_excel('income_statement.xlsx', sheet_name='Income Statement', index=False)

revenue - money generated from sales of product/service produced by company.
gross profit - 
gross margin - percentage of revenue that company retains as gross profit.   
COGS - direct costs associated with providing the good/service. i.e. app hosting costs, payment processing fees.etc.
gross burn - total company epenses. 
net burn rate - rate at which a company is losing money. revenue - gross burn.
runway - the amount of time a company has before it runs out of cash, given its current cash burn rate. 
operating expenses. 
total revenue - total money generated from sales of product/service produced by company.
arpu - average revenue per user. total revenue / # of users.
arppu - average revenue per paying user. total revenue / $ of paying users.
mrr - monthly recurring revenue. 
gross profit. how a company generates profits from direct costs such as labor. Gross Profit = TR - COGS
deferred revenue. money received by a company in advance of providing a good/service to a customer. 
MoM growth. ([this_months_value - last_months_value] / last_months_value) * 100.
EBIDTA. Earnings Before Tax Depreciation and Amortization. Revenue - Operating Expenses (excluding IDTA)
churn rate.